<div id="home" data-role="view" data-layout="default" data-title="EventBoard"
     data-init="App.views.Home.onInit"
     data-show="App.views.Home.onShow">
    <header data-role="header">
        <div data-role="navbar">
            <a href="#drawer-menu" data-role="button" data-rel="drawer" data-icon="reorder" data-align="left" class="fa"></a>
            <div class="title-img"><img src="styles/images/eventboard.png" /></div>
        </div>
    </header>
    
    <ul class="listview conferences"></ul>

</div>